Repository fabasoad/reviewers-action, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, ci, documentation, security

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file: ci-tests/**
ci:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
documentation:
  - changed-files:
      - any-glob-to-any-file: README.md
security:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/security.yml

Fix Security workflow
  .github/workflows/security.yml
Labels: ci, security

Fix Security workflow (#42)
  .github/workflows/security.yml
Labels: ci, security

Fix "Release" workflow
  .github/workflows/release.yml
Labels: ci

Fix "Release" workflow (#43)
  .github/workflows/release.yml
Labels: ci

Bump igorshubovych/markdownlint-cli from 0.38.0 to 0.39.0
  .pre-commit-config.yaml
  action.yml
Labels: none

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

Bump pre-commit/pre-commit-hooks from 4.5.0 to 4.6.0
  .pre-commit-config.yaml
  .tool-versions
Labels: none

Bump gitleaks/gitleaks from 8.18.2 to 8.18.4
  .github/labels.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-license.yml
  .pre-commit-config.yaml
  .tool-versions
Labels: ci, security

Bump pre-commit/pre-commit-hooks from 4.6.0 to 5.0.0
  .github/workflows/trigger-functional-tests.yml
  .pre-commit-config.yaml
  .tool-versions
  action.yml
  src/validate-installed-tools.sh
Labels: ci

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

Edit script
  src/validate-installed-tools.sh
Labels: none

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

Edit script 2
  src/validate-installed-tools.sh
Labels: none

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

docs(license): update copyright year(s)
  LICENSE
Labels: none

Bump markdownlint-cli from 0.42.0 to 0.43.0
  .github/workflows/functional-tests.yml
  .github/workflows/security.yml
  .github/workflows/update-license.yml
  .pre-commit-config.yaml
  .tool-versions
  action.yml
  src/assign-reviewers.sh
  src/get-changed-files.sh
Labels: ci, security

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

Add logging.sh
  action.yml
  src/get-reviewers.sh
  src/install-curl.sh
  src/lib/logging.sh
  src/validate-inputs.sh
  src/validate-installed-tools.sh
Labels: none

Bump markdownlint-cli from 0.42.0 to 0.43.0 (#57)
  .github/workflows/functional-tests.yml
  .github/workflows/security.yml
  .github/workflows/update-license.yml
  .pre-commit-config.yaml
  .tool-versions
  LICENSE
  action.yml
  src/assign-reviewers.sh
  src/get-changed-files.sh
  src/get-reviewers.sh
  src/install-curl.sh
  src/lib/logging.sh
  src/validate-inputs.sh
  src/validate-installed-tools.sh
Labels: ci, security

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: update FUNDING.yml with working BTC URL
  .github/FUNDING.yml
Labels: none

chore: update FUNDING.yml with working BTC URL
  .github/FUNDING.yml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

Fix logic
  src/install-curl.sh
Labels: none

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation
