Repository fabasoad/reviewers-action, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, ci, documentation, security

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

chore: bump actions/setup-node from v5 to v6 (#79)
  .github/workflows/functional-tests.yml
  .github/workflows/trigger-functional-tests.yml
  .pre-commit-config.yaml
  action.yml
  src/assign-reviewers.sh
Labels: ci

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file: ci-tests/**
ci:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
documentation:
  - changed-files:
      - any-glob-to-any-file: README.md
security:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/security.yml
