Repository fabasoad/reviewers-action, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, ci, documentation, security

.github/labeler.yml:

automation:
  - changed-files:
      - any-glob-to-any-file: ci-tests/**
ci:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
documentation:
  - changed-files:
      - any-glob-to-any-file: README.md
security:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/security.yml

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

chore(deps): bump prettier from 3.4.2 to 3.6.2
  .github/dependabot.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  README.md
  action.yml
Labels: ci, documentation, security

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

chore: add actionlint.yaml config file
  .github/actionlint.yaml
  .github/workflows/functional-tests.yml
  .github/workflows/trigger-functional-tests.yml
Labels: ci

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

chore: add actionlint.yaml config file (#74)
  .github/actionlint.yaml
  .github/workflows/functional-tests.yml
  .github/workflows/trigger-functional-tests.yml
Labels: ci

[create-pull-request] automated change
  ci-tests/test1.txt
  ci-tests/test2.txt
Labels: automation

chore: bump pre-commit hooks to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore(deps): bump actionlint from 1.7.8 to 1.7.9
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-license.yml
  .pre-commit-config.yaml
Labels: ci, security

chore(deps): bump actionlint from 1.7.8 to 1.7.9 (#77)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-license.yml
  .pre-commit-config.yaml
Labels: ci, security

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

docs(license): update copyright year(s)
  LICENSE
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump dependencies to the latest version
  .pre-commit-config.yaml
Labels: none

chore: bump actions/setup-node from v5 to v6
  .github/workflows/functional-tests.yml
  .github/workflows/trigger-functional-tests.yml
  .pre-commit-config.yaml
  action.yml
Labels: ci

chore: bump X-GitHub-Api-Version
  src/assign-reviewers.sh
Labels: none
